body, html {
    margin: 0;
}

html {
    height: 100%;
    font-family: sans-serif;
}

body {
    height: 90%;
    max-width: 800px;
    margin: 3em auto;
}

h1, h2, h3, h4, p {
    text-align: center;
}

p {
    line-height: 200%;
}

select, form > div {
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
}

.txt {
    width: 80%;
}

select {
    width: 83%;
}

form > div {
    width: 80%;
    margin-bottom: 10px;
    overflow: auto;
}

label {
    width: 100%;
    line-height: 1.5;
}

.collapsible-button {
    background-color: #777777;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 1em;
    width: 100%;
    border: none;
    outline: none;
}

.collapsible-content {
    padding: 1.5em 0;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

#start-training-button {
    width: 5em;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 0.3em;
    font-size: 1.2em;
    font-weight: bold;
}

#start-training-button.disabled {
    background-color: #95e099;
    color: grey;
}

#stop-training-button {
    width: 5em;
    background-color: #f44336;
    color: black;
    border: none;
    border-radius: 0.3em;
    font-size: 1.2em;
    font-weight: bold;
}

#stop-training-button.disabled {
    background-color: #ffaea9;
    color: grey;
}

#goal-delay {
    alignment: center;
    width: 80%;
}

#controls {
    margin-bottom: 2.5em;
    text-align: center;
}

.control-element {
    width: 50%;
    display: inline;
    text-align: center;
}

.control-element button {
    padding: 10px;
}

.settings-element {
    text-align: center;
}

.multiline-checkboxes {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#footer {
    margin-top: 1em;
}